[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = [
  "cd src/backend && npm ci",
  "cd src/backend && npx prisma generate"
]

[phases.build]
cmds = [
  "cd src/backend && npm install && npx prisma generate && npm run build"
]

[start]
cmd = "cd src/backend && npx prisma db push --accept-data-loss && npm start"

